body {
    background-color: #F7F7F7;
}
.container {
    position: relative;
    margin: 0 auto;
    font-family: helvetica, sans-serif;
}
.content {
    position: relative;
    padding-top: 80px;
}
.content p {
    margin-bottom: 10px;
}
.product-filter {
    margin-bottom: 10px;
}
.header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: black;
}
.nav {
    position: absolute;
    left: 0;
    top: -15px;
    height: 60px;
    color: black;
    > ul li {
        float: left;
        list-style: none;
    }
    > ul li a {
        display: block;
        color: #000000;;
        text-decoration: none;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 25px;
        &:hover {
            background-color: #ddd;
            color: black;
        }
        &:active {
            background-color: #ddd;
            color: black;
        }
    }

}
.cart {
    float:right;
    margin-right: 30px;
    font-size: 25px;
    > a {
        display: block;
        color: #000000;;
        text-decoration: none;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 25px;

        &:hover {
            background-color: #ddd;
            color: black;
        }

        &:active {
            background-color: #ddd;
            color: black;
        }
    }
}

.cart .badge {
    color: red;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    position: absolute;
    min-width: 1em;
    padding-right: 0.2em;
    height: 1em;
    border-radius: 1em;
    text-align: center;
    line-height: 1.4em;
}

.active {
    background-color: #ddd;
    color: black;
}
.table {
    width: 100%;
    display: table;
    margin: 0;
    border: none;
}
.cell {
    display:table-cell;
}
.row {
    display:table-row;
}
.row .cell {
    font-size: 15px;
    color: #000000;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 20px;
    padding-bottom: 20px;
    > a {
        display: block;
        color: #000000;;
        text-decoration: none;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 20px;
    }
}
.last-cell {
    border-top: 4px solid #000000;
}

.row.header .cell {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
}

.merged{
    width:50%;
    height:50%;
    background: green;
}
.table, .row {
    width: 100% !important;
}
.img {
    width:200px;
    height:200px;
}

.product-container {
    margin: 20px 20px 0 0;
    overflow: auto
}
.product-thumb {
    float: left
}
.product-thumb img {
    display: block
}
.product-content {
    margin-left: 210px;
}
.product-desc {
    cursor: pointer;
    margin-bottom: 10px;
}
.product-desc-ellipsis {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.product-desc-no-ellipsis {
    margin-bottom: 10px;
    overflow: visible;
}

.product-title {
    font-weight: bold;
    font-size: 200%
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

input[type="text"] {
    width: 250px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    .badge {
        color: red;
        font-family: sans-serif;
        font-size: 20px;
        letter-spacing: -1px;
        min-width: 1em;
        padding-right: 0.2em;
        height: 1em;
        border-radius: 1em;
        text-align: center;
    }
}

.dropdown-content a:hover {background-color: #dddddd}

.dropdown:hover .dropdown-content {

    display: block;
}

@media (max-width: 799px) {
    .header { display: none; }
    .dropdown { display: inline-block;  }
    .cart {
        display: none;
    }
}